<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default " en" }}">
{{ partial "head.html" . }}

<body class="{{ .Kind }} {{ anchorize .Permalink }} {{ .Section }}">
	<div class="container">
		{{ partial "nav.html" . }}

		{{ block "feature" . }}
		{{ end }}

		{{ block "main" . }}
		{{ end }}

	{{ if hugo.IsServer }}
	    <!-- DEVELOPMENT -->
		{{ $indexjs := resources.Get "js/index-local.js" }}
		{{ $imgloaded := resources.Get "js/imageLoaded.js" }}
		{{ $mzr := resources.Get "js/mzr.js" }}
		{{ $cpl := resources.Get "js/cpl.js" }}
		{{ $vrt := resources.Get "js/vrt.js" }}
		{{ $rdm := resources.Get "js/rdm.js" }}
		{{ $js := slice $imgloaded $rdm $vrt $cpl $mzr $indexjs | resources.Concat "js/bundle.js" | resources.Minify }}
		<script src="{{ $js.Permalink }}" async></script>
	{{ else }}
	    <!-- PRODUCTION -->
		{{ $indexjs := resources.Get "js/index.js" }}
		{{ $imgloaded := resources.Get "js/imageLoaded.js" }}
		{{ $vrt := resources.Get "js/vrt.js" }}
		{{ $rdm := resources.Get "js/rdm.js" }}
		{{ $js := slice $imgloaded $rdm $vrt $indexjs | resources.Concat "js/bundle.js" | resources.Minify }}
		<script src="{{ $js.Permalink }}" integrity="{{ $js.Data.Integrity }}" async></script>
	{{ end }}

	{{ block "scripts" . }}
	<!-- No extra scripts -->
	{{ end }}
</div>
</body>

</html>
