/* Set baseline height on root

\:root
  box-sizing: border-box
  color: #333
  font-family: "futura-pt"
  font-size: 20px
  line-height: 1.5

/* Reset everything that effects layout height

*
  margin: 0
  padding: 0
  font-size: 1rem
  font-weight: normal
  border: none
  box-sizing: inherit
  &:before, &:after
    box-sizing: inherit

/* Setup box sizing

/* Fix tables for baseline rhythm

table
  border-spacing: 0

td, th
  outline: 2px solid #000
  outline-offset: -1px
  padding: 0 0.75rem

/* Fix sup and sub for baseline rhythm

sup
  display: inline-block
  transform: translateY(-5px)
  vertical-align: baseline

sub
  display: inline-block
  transform: translateY(5px)
  vertical-align: baseline

/* Fix special inputs for baseline rhythm

input
  &[type='date'], &[type='month'], &[type='week'], &[type='datetime'], &[type='datetime-local']
    line-height: 1

/* Fix kbd for baseline rhythm

kbd
  background-color: #ccc
  border-radius: 3px
  outline: 1px solid #333
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 0 0 rgba(255, 255, 255, 0.7) inset
  color: #333
  display: inline-block
  font-size: 0.75rem
  font-weight: 100
  padding: 0 0.5rem
  white-space: nowrap

/* optional Resize class for RDM

.resize
  overflow: hidden
  width: 100%
  canvas, iframe, img, svg, textarea
    width: 100%
  img
    object-fit: cover
    object-position: 50% 50%
    &.gallery
      height: 100%


// theme styles

p, ul, ol
  margin-bottom: 1.5rem

main
  max-width: 820px
  margin: 0 auto
  padding: 3rem 1rem 1.5rem 1rem

  +break(large)
    padding: 3rem

  +break(medium)
    padding: 1.5rem

[class*="__heading"]
  font-size: 2rem


// Youtube layer
.youtube
  margin-bottom: 1.5rem

  iframe
    height: 50vh

  &__layer
    background-color: #e6e6e6
    margin-bottom: 1.5rem
    padding: 3rem 0

  &__container
    margin: 0 auto
    width: 80vw




// Theme Single Page

.theme__heading,
.theme__subhead
  font-size: 3rem
  line-height: 1
  margin-bottom: 1.5rem


// .normal
//   font-size: 3rem
//   font-weight: normal


.gallery
  margin: 0 auto
  width: 80vw

  figure
    margin-bottom: 1.5rem

pre
  background-color: #e6e6e6
  // line-height: 1
  padding: 1.5rem
  // white-space: pre-wrap
  overflow-x: scroll

code
  background-color: #e6e6e6
  //   font-size: .5rem
  line-height: 1
  padding: 0 .5rem

// Theme list
.themeGallery
  //

  &__layer
    background-color: #e6e6e6
    padding: 1.5rem 0

  &__container
    display: grid
    grid-gap: 1.5rem
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr))
    grid-auto-flow: dense
    margin: 3rem auto
    width: 80vw
    // grid-auto-rows: 200px

  &__card
    //

  &__meta
    background-color: white
    padding: 1.5rem

  &__heading
    font-size: 1rem
    font-weight: bold
    margin: 0

    a
      font-weight: bold
      text-decoration: none

  &__tags,
  &__author
    font-weight: 300
    margin: 0

    a
      // outline: 1px solid #e6e6e6
      // padding: 0 .5rem
      text-decoration: none


a
  color: #7a5cb2

  &:hover
    color: #c34d5c

// pagination
.pagination
  text-align: center

  &__button
    padding: 0 5px


.singlepage
  h2
    font-size: 2rem
  h3
    font-weight: bold
    padding: 1.5rem 0 0 0


$pacskin: hsl(55, 100, 48)
$pacsize: 10px

.pacman
  border-radius: 50%
  border-top: $pacsize solid $pacskin
  border-right: $pacsize solid $pacskin
  border-bottom: $pacsize solid $pacskin
  border-left: $pacsize solid $pacskin
  box-shadow: -1px 1px 0 #000
  will-change: border-bottom
  animation: wackah .3s infinite
  display: inline-block
  margin-left: 1.5rem


@keyframes wackah
  50%
    border-right: $pacsize solid transparent
