.feature
  display: grid
  align-items: center
  justify-items: center
  grid-template-columns: 1fr
  grid-template-rows: 60vh

.feature-box
  max-width: 50%

  +break(large)
    max-width: 75%

  svg
    fill: #333
    width: 100%

.feature__heading
  font-size: 2rem
  text-align: center

  +break(large)
    //
