header
  // background-color: yellow
  display: grid
  grid-template-rows: 60px
  grid-template-columns: 1fr max-content
  align-items: center
  justify-content: space-between

  +break(large)
    grid-template-columns: 1fr
    grid-template-rows: 60px 60px

  +break(medium)
    grid-template-rows: 120px 60px

.identity
  display: grid
  grid-gap: 1rem
  grid-template-columns: max-content max-content
  align-items: center
  justify-items: center

  +break(large)
    background-color: #e6e6e6

  +break(medium)
    grid-gap: 0
    grid-template-columns: 1fr
    grid-template-rows: 60px 60px

  p
    margin-bottom: 0

.uuu-logo
  background-color: #333
  display: grid
  align-items: center
  justify-items: center
  grid-template-rows: 60px
  grid-template-columns: 6rem
  // padding: .5rem 1rem
  +break(medium)
    width: 100%

  svg
    width: 80%
    path
      fill: white

nav
  padding: 0 1rem

  +break(large)
    text-align: center

  a
    font-weight: bold
    padding: 0 .5rem
    text-decoration: none
