<footer>
  <p>
    rdmkit  <a href="/cpl.html">cpl</a><a href="/mzr.html">mzr</a><a href="/vrt.html">vrt</a><a href="/rdm.html">rdm</a><a href="/all.html">all</a><a href="/mor.html">mor</a><a href="/fun.html">fun</a><a href="/err.html">err</a></p>
</footer>
