<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<title>UUU</title>
<meta
  name="description"
  content="UUU | A syntax and ui theme builder for Atom"
/>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:100,100i,400,400i,700,700i" rel="stylesheet"> -->
<link rel="stylesheet" href="https://use.typekit.net/xrb8cbv.css" />
{{ if hugo.IsServer }}
<!-- DEVELOPMENT -->
{{ $style := resources.Get "css/style.sass" | toCSS | minify }}
<link rel="stylesheet" href="{{ $style.Permalink }}" />
{{ else }}
<!-- PRODUCTION -->
{{ $style := resources.Get "css/style.sass" | toCSS | minify | fingerprint }}
<link
  rel="stylesheet"
  href="{{ $style.Permalink }}"
  integrity="{{ $style.Data.Integrity }}"
/>

<!-- google -->
{{ partial "google.html" . }} {{ end }}
