<header>
  <div class="identity">
    <a class="uuu-logo" href="/">
      <svg class="uuusvg" viewBox="0 0 127 51" xmlns="http://www.w3.org/2000/svg">
        <path d="M.148.545h39.31v31.27c0 10.91-7.9 18.339-19.655 18.339S.148 42.724.148 31.814V.546zM43.502.545h39.31v31.27c0 10.91-7.899 18.339-19.654 18.339-11.803 0-19.703-7.43-19.703-18.34V.546h.047zM86.81.545h39.358v31.27c0 10.91-7.9 18.339-19.656 18.339-11.802 0-19.702-7.43-19.702-18.34V.546z" />
      </svg>
    </a>
    <p>UUU is a SYNTAX and UI builder for ATOM</p>
  </div>
  <nav>
    <a href="/themes">Themes</a>
    <a href="/docs">Docs</a>
    <a href="/about">About</a>
    <a href="/issues">Issues</a>
  </nav>
</header>
