{{ define "feature" }}
  <div class="feature resize">
    <div class="feature-box">
      <svg class="uuusvg" viewBox="0 0 127 51" xmlns="http://www.w3.org/2000/svg">
        <path d="M.148.545h39.31v31.27c0 10.91-7.9 18.339-19.655 18.339S.148 42.724.148 31.814V.546zM43.502.545h39.31v31.27c0 10.91-7.899 18.339-19.654 18.339-11.803 0-19.703-7.43-19.703-18.34V.546h.047zM86.81.545h39.358v31.27c0 10.91-7.9 18.339-19.656 18.339-11.802 0-19.702-7.43-19.702-18.34V.546z" />
      </svg>

      <h1 class="feature__heading">I hacked ATOM so UUU can hack your own SYNTAX and UI theme from the editor</h1>
    </div>
  </div>

  <div class="youtube__layer">
    <div class="youtube__container">
      <div class="youtube resize">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/C2N2O3WR-3U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>

{{ end }}


{{ define "main" }}
  <main>
    {{ .Content }}
  </main>
{{ end }}
